<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h1>Help</h1>

    <p>For more information, watch the videos on
      <a target="_blank" href="https://www.goskilltree.com">our main website</a> .
    </p>

    <p>
      If you have a problem that you can't figure out, just
      <a href="#" (click)="authService.showContact()">contact us</a>
      and we'll get back to you.
    </p>

    <br/>
    <p><em>
      <small>
        <small>You are running version: {{authService.getCurrentUser().app_version}}</small>
      </small>
    </em></p>

  </div>
</div>
